In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [11]:
start_time = datetime.datetime.now()

data = pd.read_excel('/Users/tinashem/Github Repos/CareerPalz/files/LCA_Disclosure_Data_FY2023_Q4_copy.xlsx')

end_time = datetime.datetime.now()

print('Duration: {}'.format(end_time - start_time))

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x106d56ba0>>
Traceback (most recent call last):
  File "/Users/tinashem/anaconda3/envs/xeus-python/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 770, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(

KeyboardInterrupt:

In [ ]:
data.head()

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,ORIGINAL_CERT_DATE,VISA_CLASS,JOB_TITLE,SOC_CODE,SOC_TITLE,FULL_TIME_POSITION,...,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS,APPENDIX_A_ATTACHED,PUBLIC_DISCLOSURE,PREPARER_LAST_NAME,PREPARER_FIRST_NAME,PREPARER_MIDDLE_INITIAL,PREPARER_BUSINESS_NAME,PREPARER_EMAIL
0,I-200-23244-317261,Certified - Withdrawn,2023-09-01,2023-09-30,2023-09-11,H-1B,"Analyst, Business Sr",15-2031.00,Operations Research Analysts,Y,...,No,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
1,I-202-23242-306442,Certified - Withdrawn,2023-08-30,2023-09-30,2023-09-07,H-1B1 Singapore,Board Certified Behavior Analyst,19-3034.00,School Psychologists,Y,...,NaN,NaN,NaN,NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
2,I-200-23242-308144,Certified - Withdrawn,2023-08-30,2023-09-30,2023-09-07,H-1B,Manager - Software Engineering,15-1252.00,Software Developers,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,Sheppard,Kaitlyn (11606.425.22),NaN,Berry Appleman & Leiden LLP,ksheppard@bal.com
3,I-200-23172-131625,Certified - Withdrawn,2023-06-21,2023-09-30,2023-06-28,H-1B,SOFTWARE DEVELOPER,15-1252.00,Software Developers,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN
4,I-200-23170-125146,Certified - Withdrawn,2023-06-19,2023-09-30,2023-06-26,H-1B,SOFTWARE DEVELOPER,15-1252.00,Software Developers,Y,...,No,Yes,"$60,000 or higher annual wage",NaN,Disclose Business,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127939 entries, 0 to 127938
Data columns (total 96 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CASE_NUMBER                     127939 non-null  object
 1   CASE_STATUS                     127939 non-null  object
 2   RECEIVED_DATE                   127939 non-null  datetime64[ns]
 3   DECISION_DATE                   127939 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              9382 non-null    datetime64[ns]
 5   VISA_CLASS                      127939 non-null  object
 6   JOB_TITLE                       127939 non-null  object
 7   SOC_CODE                        127939 non-null  object
 8   SOC_TITLE                       127939 non-null  object
 9   FULL_TIME_POSITION              127939 non-null  object
 10  BEGIN_DATE                      127939 non-null  datetime64[ns]
 11  END_DATE                        127939 non-null  datetime64[ns]
 12  TOTAL_WORKER_POSITIONS          127939 non-null  int64
 13  NEW_EMPLOYMENT                  127939 non-null  int64
 14  CONTINUED_EMPLOYMENT            127939 non-null  int64
 15  CHANGE_PREVIOUS_EMPLOYMENT      127939 non-null  int64
 16  NEW_CONCURRENT_EMPLOYMENT       127939 non-null  int64
 17  CHANGE_EMPLOYER                 127939 non-null  int64
 18  AMENDED_PETITION                127939 non-null  int64
 19  EMPLOYER_NAME                   127939 non-null  object
 20  TRADE_NAME_DBA                  12057 non-null   object
 21  EMPLOYER_ADDRESS1               127939 non-null  object
 22  EMPLOYER_ADDRESS2               59835 non-null   object
 23  EMPLOYER_CITY                   127939 non-null  object
 24  EMPLOYER_STATE                  127908 non-null  object
 25  EMPLOYER_POSTAL_CODE            127939 non-null  object
 26  EMPLOYER_COUNTRY                127939 non-null  object
 27  EMPLOYER_PROVINCE               8081 non-null    object
 28  EMPLOYER_PHONE                  127939 non-null  int64
 29  EMPLOYER_PHONE_EXT              6655 non-null    float64
 30  NAICS_CODE                      127939 non-null  int64
 31  EMPLOYER_POC_LAST_NAME          127939 non-null  object
 32  EMPLOYER_POC_FIRST_NAME         127939 non-null  object
 33  EMPLOYER_POC_MIDDLE_NAME        22253 non-null   object
 34  EMPLOYER_POC_JOB_TITLE          127939 non-null  object
 35  EMPLOYER_POC_ADDRESS1           127939 non-null  object
 36  EMPLOYER_POC_ADDRESS2           61075 non-null   object
 37  EMPLOYER_POC_CITY               127939 non-null  object
 38  EMPLOYER_POC_STATE              127800 non-null  object
 39  EMPLOYER_POC_POSTAL_CODE        127939 non-null  object
 40  EMPLOYER_POC_COUNTRY            127939 non-null  object
 41  EMPLOYER_POC_PROVINCE           600 non-null     object
 42  EMPLOYER_POC_PHONE              127939 non-null  int64
 43  EMPLOYER_POC_PHONE_EXT          5924 non-null    float64
 44  EMPLOYER_POC_EMAIL              124923 non-null  object
 45  AGENT_REPRESENTING_EMPLOYER     127939 non-null  object
 46  AGENT_ATTORNEY_LAST_NAME        92273 non-null   object
 47  AGENT_ATTORNEY_FIRST_NAME       92273 non-null   object
 48  AGENT_ATTORNEY_MIDDLE_NAME      47672 non-null   object
 49  AGENT_ATTORNEY_ADDRESS1         92273 non-null   object
 50  AGENT_ATTORNEY_ADDRESS2         73734 non-null   object
 51  AGENT_ATTORNEY_CITY             92273 non-null   object
 52  AGENT_ATTORNEY_STATE            89111 non-null   object
 53  AGENT_ATTORNEY_POSTAL_CODE      92273 non-null   object
 54  AGENT_ATTORNEY_COUNTRY          92273 non-null   object
 55  AGENT_ATTORNEY_PROVINCE         8620 non-null    object
 56  AGENT_ATTORNEY_PHONE            92273 non-null   float64
 57  AGENT_ATTORNEY_PHONE_EXT        5618 non-null    float64
 58  AGENT_ATTORNEY_EMAIL_ADDRESS    92273 non-null   object
 59  LAWFIRM_NAME_BUSINESS_NAME      92273 non-null   object
 60  STATE_OF_HIGHEST_COURT          92072 non-null   object
 61  NAME_OF_HIGHEST_STATE_COURT     91970 non-null   object
 62  WORKSITE_WORKERS                127939 non-null  int64
 63  SECONDARY_ENTITY                127939 non-null  object
 64  SECONDARY_ENTITY_BUSINESS_NAME  30103 non-null   object
 65  WORKSITE_ADDRESS1               127939 non-null  object
 66  WORKSITE_ADDRESS2               39404 non-null   object
 67  WORKSITE_CITY                   127939 non-null  object
 68  WORKSITE_COUNTY                 127939 non-null  object
 69  WORKSITE_STATE                  127939 non-null  object
 70  WORKSITE_POSTAL_CODE            127939 non-null  object
 71  WAGE_RATE_OF_PAY_FROM           127939 non-null  float64
 72  WAGE_RATE_OF_PAY_TO             41404 non-null   float64
 73  WAGE_UNIT_OF_PAY                127939 non-null  object
 74  PREVAILING_WAGE                 127939 non-null  float64
 75  PW_UNIT_OF_PAY                  127939 non-null  object
 76  PW_TRACKING_NUMBER              188 non-null     object
 77  PW_WAGE_LEVEL                   119280 non-null  object
 78  PW_OES_YEAR                     119923 non-null  object
 79  PW_OTHER_SOURCE                 7828 non-null    object
 80  PW_OTHER_YEAR                   7828 non-null    float64
 81  PW_SURVEY_PUBLISHER             6200 non-null    object
 82  PW_SURVEY_NAME                  6199 non-null    object
 83  TOTAL_WORKSITE_LOCATIONS        127939 non-null  int64
 84  AGREE_TO_LC_STATEMENT           127939 non-null  object
 85  H_1B_DEPENDENT                  124463 non-null  object
 86  WILLFUL_VIOLATOR                124463 non-null  object
 87  SUPPORT_H1B                     34669 non-null   object
 88  STATUTORY_BASIS                 34442 non-null   object
 89  APPENDIX_A_ATTACHED             81 non-null      object
 90  PUBLIC_DISCLOSURE               127922 non-null  object
 91  PREPARER_LAST_NAME              61492 non-null   object
 92  PREPARER_FIRST_NAME             61492 non-null   object
 93  PREPARER_MIDDLE_INITIAL         19514 non-null   object
 94  PREPARER_BUSINESS_NAME          62683 non-null   object
 95  PREPARER_EMAIL                  62319 non-null   object
dtypes: datetime64[ns](5), float64(8), int64(12), object(71)
memory usage: 93.7+ MB

In [ ]:
data['NEW_EMPLOYMENT'].nunique()

30

In [ ]:
data['NEW_EMPLOYMENT'].unique()

array([   0,    1,    3,    5,    2,   50,   75,   12,   25,   20,    4,
         30,   10,   22,    8,    6,   13,   15,    7,  300,  100,   37,
          9,   14,  223, 1098,   11,   40,   60,   80])

In [ ]:
data['NEW_EMPLOYMENT'].value_counts()

NEW_EMPLOYMENT
0       85137
1       39919
5         962
2         555
10        409
6         354
4         235
3          99
20         82
100        55
25         26
15         19
50         18
12         17
75         14
7          11
30          8
8           4
300         4
13          1
22          1
37          1
9           1
14          1
223         1
1098        1
11          1
40          1
60          1
80          1
Name: count, dtype: int64

In [ ]:
# let's create a separate data frame for entries that have new employment
new_employment = data[data['NEW_EMPLOYMENT'] != 0]
new_employment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42802 entries, 3 to 127933
Data columns (total 96 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CASE_NUMBER                     42802 non-null  object
 1   CASE_STATUS                     42802 non-null  object
 2   RECEIVED_DATE                   42802 non-null  datetime64[ns]
 3   DECISION_DATE                   42802 non-null  datetime64[ns]
 4   ORIGINAL_CERT_DATE              3442 non-null   datetime64[ns]
 5   VISA_CLASS                      42802 non-null  object
 6   JOB_TITLE                       42802 non-null  object
 7   SOC_CODE                        42802 non-null  object
 8   SOC_TITLE                       42802 non-null  object
 9   FULL_TIME_POSITION              42802 non-null  object
 10  BEGIN_DATE                      42802 non-null  datetime64[ns]
 11  END_DATE                        42802 non-null  datetime64[ns]
 12  TOTAL_WORKER_POSITIONS          42802 non-null  int64
 13  NEW_EMPLOYMENT                  42802 non-null  int64
 14  CONTINUED_EMPLOYMENT            42802 non-null  int64
 15  CHANGE_PREVIOUS_EMPLOYMENT      42802 non-null  int64
 16  NEW_CONCURRENT_EMPLOYMENT       42802 non-null  int64
 17  CHANGE_EMPLOYER                 42802 non-null  int64
 18  AMENDED_PETITION                42802 non-null  int64
 19  EMPLOYER_NAME                   42802 non-null  object
 20  TRADE_NAME_DBA                  4923 non-null   object
 21  EMPLOYER_ADDRESS1               42802 non-null  object
 22  EMPLOYER_ADDRESS2               20093 non-null  object
 23  EMPLOYER_CITY                   42802 non-null  object
 24  EMPLOYER_STATE                  42792 non-null  object
 25  EMPLOYER_POSTAL_CODE            42802 non-null  object
 26  EMPLOYER_COUNTRY                42802 non-null  object
 27  EMPLOYER_PROVINCE               2425 non-null   object
 28  EMPLOYER_PHONE                  42802 non-null  int64
 29  EMPLOYER_PHONE_EXT              1368 non-null   float64
 30  NAICS_CODE                      42802 non-null  int64
 31  EMPLOYER_POC_LAST_NAME          42802 non-null  object
 32  EMPLOYER_POC_FIRST_NAME         42802 non-null  object
 33  EMPLOYER_POC_MIDDLE_NAME        8046 non-null   object
 34  EMPLOYER_POC_JOB_TITLE          42802 non-null  object
 35  EMPLOYER_POC_ADDRESS1           42802 non-null  object
 36  EMPLOYER_POC_ADDRESS2           20661 non-null  object
 37  EMPLOYER_POC_CITY               42802 non-null  object
 38  EMPLOYER_POC_STATE              42754 non-null  object
 39  EMPLOYER_POC_POSTAL_CODE        42802 non-null  object
 40  EMPLOYER_POC_COUNTRY            42802 non-null  object
 41  EMPLOYER_POC_PROVINCE           196 non-null    object
 42  EMPLOYER_POC_PHONE              42802 non-null  int64
 43  EMPLOYER_POC_PHONE_EXT          1297 non-null   float64
 44  EMPLOYER_POC_EMAIL              41867 non-null  object
 45  AGENT_REPRESENTING_EMPLOYER     42802 non-null  object
 46  AGENT_ATTORNEY_LAST_NAME        29894 non-null  object
 47  AGENT_ATTORNEY_FIRST_NAME       29894 non-null  object
 48  AGENT_ATTORNEY_MIDDLE_NAME      15648 non-null  object
 49  AGENT_ATTORNEY_ADDRESS1         29894 non-null  object
 50  AGENT_ATTORNEY_ADDRESS2         23366 non-null  object
 51  AGENT_ATTORNEY_CITY             29894 non-null  object
 52  AGENT_ATTORNEY_STATE            29157 non-null  object
 53  AGENT_ATTORNEY_POSTAL_CODE      29894 non-null  object
 54  AGENT_ATTORNEY_COUNTRY          29894 non-null  object
 55  AGENT_ATTORNEY_PROVINCE         2277 non-null   object
 56  AGENT_ATTORNEY_PHONE            29894 non-null  float64
 57  AGENT_ATTORNEY_PHONE_EXT        1680 non-null   float64
 58  AGENT_ATTORNEY_EMAIL_ADDRESS    29894 non-null  object
 59  LAWFIRM_NAME_BUSINESS_NAME      29894 non-null  object
 60  STATE_OF_HIGHEST_COURT          29795 non-null  object
 61  NAME_OF_HIGHEST_STATE_COURT     29789 non-null  object
 62  WORKSITE_WORKERS                42802 non-null  int64
 63  SECONDARY_ENTITY                42802 non-null  object
 64  SECONDARY_ENTITY_BUSINESS_NAME  7865 non-null   object
 65  WORKSITE_ADDRESS1               42802 non-null  object
 66  WORKSITE_ADDRESS2               15177 non-null  object
 67  WORKSITE_CITY                   42802 non-null  object
 68  WORKSITE_COUNTY                 42802 non-null  object
 69  WORKSITE_STATE                  42802 non-null  object
 70  WORKSITE_POSTAL_CODE            42802 non-null  object
 71  WAGE_RATE_OF_PAY_FROM           42802 non-null  float64
 72  WAGE_RATE_OF_PAY_TO             13225 non-null  float64
 73  WAGE_UNIT_OF_PAY                42802 non-null  object
 74  PREVAILING_WAGE                 42802 non-null  float64
 75  PW_UNIT_OF_PAY                  42802 non-null  object
 76  PW_TRACKING_NUMBER              126 non-null    object
 77  PW_WAGE_LEVEL                   39486 non-null  object
 78  PW_OES_YEAR                     39757 non-null  object
 79  PW_OTHER_SOURCE                 2919 non-null   object
 80  PW_OTHER_YEAR                   2919 non-null   float64
 81  PW_SURVEY_PUBLISHER             1915 non-null   object
 82  PW_SURVEY_NAME                  1914 non-null   object
 83  TOTAL_WORKSITE_LOCATIONS        42802 non-null  int64
 84  AGREE_TO_LC_STATEMENT           42802 non-null  object
 85  H_1B_DEPENDENT                  41400 non-null  object
 86  WILLFUL_VIOLATOR                41400 non-null  object
 87  SUPPORT_H1B                     9360 non-null   object
 88  STATUTORY_BASIS                 9268 non-null   object
 89  APPENDIX_A_ATTACHED             42 non-null     object
 90  PUBLIC_DISCLOSURE               42798 non-null  object
 91  PREPARER_LAST_NAME              19737 non-null  object
 92  PREPARER_FIRST_NAME             19737 non-null  object
 93  PREPARER_MIDDLE_INITIAL         6588 non-null   object
 94  PREPARER_BUSINESS_NAME          19958 non-null  object
 95  PREPARER_EMAIL                  19849 non-null  object
dtypes: datetime64[ns](5), float64(8), int64(12), object(71)
memory usage: 31.7+ MB

In [ ]:
# let's find out the number of unique employers who have new employment
new_employment['EMPLOYER_NAME'].nunique()

13112