In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
from datetime import timedelta
import tabula

In [2]:
data = pd.read_excel('https://github.com/Tinashe-04/CareerPalz/blob/main/files/FYs97-22_NIVDetailTable.xlsx', header=0)
data.head(10)

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [3]:
data = pd.read_excel('/Users/tinashem/Github Repos/CareerPalz/files/FYs97-22_NIVDetailTable.xlsx', header=0)
data.head(10)

,Fiscal Year 1997,A-1,A-2,A-3,B-1,"B-1,2",B-2,"B-1,2/BCC","B-1,2/BCV",C-1,...,U-1,U-2,U-3,U-4,V-1,V-2,V-3,Total Visas,BCC,Grand Total
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Algeria,62.0,23.0,5.0,1661.0,507.0,3430.0,0.0,0.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6386.0,492.0,6878.0
2,Angola,54.0,169.0,3.0,10.0,1421.0,271.0,1.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2397.0,4.0,2401.0
3,Benin,10.0,43.0,4.0,104.0,375.0,249.0,0.0,0.0,37.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1105.0,10.0,1115.0
4,Botswana,10.0,79.0,1.0,2.0,366.0,54.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,850.0,0.0,850.0
5,Burkina Faso,19.0,7.0,1.0,12.0,487.0,309.0,1.0,0.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1192.0,4.0,1196.0
6,Burundi,5.0,2.0,0.0,57.0,97.0,60.0,3.0,0.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,387.0,74.0,461.0
7,Cameroon,44.0,52.0,11.0,242.0,768.0,1128.0,0.0,0.0,53.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2960.0,10.0,2970.0
8,Cape Verde,3.0,23.0,2.0,17.0,3273.0,763.0,0.0,0.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4261.0,1.0,4262.0
9,Central African Republic,7.0,5.0,0.0,7.0,69.0,33.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,208.0,2.0,210.0

In [5]:
url = 'https://github.com/Tinashe-04/CareerPalz/blob/main/files/FYs97-22_NIVDetailTable.xlsx'

try:
    new_data = pd.read_excel(url, header=0)
    print("Excel file read successfully.")
    new_data.head(10)

except Exception as e:
    print("Error loading Excel file: ", e)

Error loading Excel file:  Excel file format cannot be determined, you must specify an engine manually.

In [6]:
import requests

my_file = requests.get(url)

try:
    newer_data = pd.read_excel(my_file.content, header=0)
    print("Excel file read successfully.")
    newer_data.head(10)

except Exception as e:
    print("Error loading Excel file: ", e)

Error loading Excel file:  Excel file format cannot be determined, you must specify an engine manually.

In [7]:
csv_url = 'https://raw.githubusercontent.com/Tinashe-04/CareerPalz/main/files/FY22NIVDetailTable%20-%20NIV_FY22%20CSV.csv'

final_data = pd.read_csv(csv_url, header=0)
final_data.head(10)

,Fiscal Year 2022,A1,A2,A3,B1,B1/B2,B2,BBBCC,BBBCV,C1,...,T5,T6,TD,TN,U1,U2,U3,U4,U5,Grand Total
0,Algeria,59,133,1,4,"12,208",0,0,0,16,...,0,0,1,0,0,0,0,0,0,"13,293"
1,Angola,54,120,0,6,"2,421",202,0,0,2,...,0,0,0,0,0,0,0,0,0,"3,643"
2,Benin,6,76,1,2,961,1,0,0,5,...,0,0,0,0,0,0,0,0,0,"1,378"
3,Botswana,24,207,0,1,873,0,0,0,10,...,0,0,0,0,0,0,0,0,0,"1,421"
4,Burkina Faso,32,82,0,2,"2,324",0,0,0,0,...,0,0,0,0,0,0,0,0,0,"3,005"
5,Burundi,14,10,0,0,513,2,0,0,2,...,0,0,0,0,0,0,0,0,0,857
6,Cabo Verde,6,45,0,2,"1,342",0,0,0,0,...,0,0,0,0,0,0,0,0,0,"1,605"
7,Cameroon,31,229,0,9,"5,390",3,0,0,4,...,0,0,0,0,0,0,0,0,0,"7,044"
8,Central African Republic,23,22,0,0,68,1,0,0,1,...,0,0,0,0,0,0,0,0,0,220
9,Chad,28,72,0,1,558,1,0,0,3,...,0,0,0,0,0,0,0,0,0,951